*{
	font-family: 'Edu NSW ACT Foundation', cursive;
}

h1{
	font-size: 55px;
	color: red;
}

img{
	margin-left: 10px;
	margin-bottom: 30px;
	margin-top: 3px;
	border: 4px double darkgrey;
	padding: 6px;
	box-shadow: 5px 3px 3px grey;
	border-radius: 15px;
}

h4{
	border: 3px red solid;
	font-family: tahoma;
    text-align: center;
    box-shadow: 5px 3px 3px black;
    background: linear-gradient(to right, red, white);
    border-radius: 5px;
}

ul, ol{
	border: 1px green double;
	background: linear-gradient(to bottom, grey, white);
}

.perfil {
	column-count: 3;
	column-gap: 40px;
}
