
@media screen and (max-width: 500px){



.nav img{
	height: 65px;
}


.nav a{
	font-size: 15px;
}


.pie{
	display: block;
	height: 830px;
}

.pie img{
	height: 0px;
	width: 0px;
}

.pie div.pie1{
	display: flex;
	flex-direction: row;
	width: 100%;
	flex-wrap: wrap;
}

.pie div.pie1 div{
	margin-left: 100px;
}

.fotoContacto h3{
	font-size: 500%;

}

.contacForm div.hijo2{
	opacity: 0;
	position: absolute;
	height: 0px;
	width: 0px;
}



