
@media screen and (max-width: 500px){


.nav img{
	height: 65px;
}


.nav a{
	font-size: 15px;
}



.pie{
	position: relative;
	display: block;
	height: 830px;
}

.pie img{
	height: 0px;
	width: 0px;
}

.pie div.pie1{
	display: flex;
	flex-direction: row;
	width: 100%;
	flex-wrap: wrap;
}

.pie div.pie1 div{
	margin-left: 100px;
}

.PresentacionTitulo h1{
   	font-size: 500%;
   	margin-top: 150px;
}

.serviciosCuerpo div.serviciosCuerpo-1 a{
	height: 100%;
	width: 100%;
}

.serviciosCuerpo div.serviciosCuerpo-1 {
	height: 100%;
	width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.serviciosCuerpo{
	display: block;
}

.serviciosCuerpo div.serviciosCuerpo-2 {
	height: 100%;
	width: 80%;
    margin-left: auto;
    margin-right: auto;
}