*{
	font-family: 'Open Sans', sans-serif;
}

body{
background-color: white;	
object-fit: contain;

}

.franja{
	background-color: whites;
}

.franja h5{
	text-align:center;
	font-size: 73px;
	margin: 50px;
}

.holder{
	margin: 0 auto;
}

.fotoGrande{
	width: 100%;
	height: 650px;
	display: flex;
}

.fotoGrande div.DivFG1{
	width: 70%;
	position: relative;
}

.fotoGrande div.DivFG1 img{
	width: 100%;
	height: 100%;
	filter: brightness(30%);
	opacity: 0.5;
}

.fotoGrande div.DivFG1 h2{
	color: white;
	font-size: 50px;
	position: absolute;
	top: 100px;
	border-left: 10px solid #E7C81E;
	padding-left: 5px;
	margin-left: 40px;
	animation-name: titulo2;
	animation-duration: 4s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
	opacity: 0;
}

.fotoGrande div.DivFG1 p{
	color: white;
	font-size: 20px;
	position: absolute;
	top: 260px;
	margin-left: 40px;
	animation-name: titulo2;
	animation-duration: 4s;
	animation-delay: 3s;
	animation-fill-mode: forwards;
	opacity: 0;

}


.fotoGrande div.DivFG1 p.nuestrosServicios{
	color: black;
	height: 35px;
	width: 200px;
	background-color: #E7C81E;
	position: absolute;
	top: 390px;
	text-align: center;
	padding-top: 15px;
	font-size: 16px;
	font-weight: 700;
	border-radius: 0.3em;
	font-weight: 0.5;

}

.fotoGrande div.DivFG2{
	width: 30%;
	background-color: #E7C81E;
	padding-left: 25px;
}

.fotoGrande div.DivFG2 h3{
	font-size: 20px;
	display: inline-block;
	margin-bottom: 5px;
}

.fotoGrande div.DivFG2 p{
	font-size: 14px;
	margin-top: 0px;
}

.fotoGrande div.DivFG2 i{
	font-size: 40px;
	margin-right: 15px;
}

.DivFG-C{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 70px;

}


.cajitas {
	height: 340px;
	width: 20%;
	text-align: center;
}


.cajitas span{
	color: black;
	font-size: 30px;
}

.cajitas p{
	color: gray;
	font-size: 18px;
}

.cajitas i{
	color: black;
	font-size: 55px;
	margin-top: 30px;
}

.padreCajitas{
	background-color: #E6E6E6;
	display: flex;
	justify-content: space-evenly;
}


.nav{
	display: flex;
	height: 100px;
	justify-content: space-between;
	width: 100%;
	background-color: #E6E6E6;
	border-bottom: 2px solid black;
	position: sticky;
}

.nav a{
 	font-size: 18px;
 	text-decoration: unset;
	justify-content: space-around;
	font-family: 'Secular One', sans-serif;
	color: black;
	font-weight: bold;
	letter-spacing: 2px;
}

.nav i{
	font-size: 30px;
}

.enlaces{
	display: flex;
	width: 60%;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;

}



.nav img{
	height: 100px;
}


.cuerpo{
	width: 100%;
	height:700px;
	position: relative;
}

.aside1{
	background-color: #E6E6E6;
	border-top-right-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	border: 3px solid black;
	width: 70%;
	height: 700px;
	position: absolute;
	margin-left: 150px;
	z-index: 1;
}

.cuerpo div img{
	position: absolute;
	width: 100%;
	z-index: 0;
}

.servicios{
	text-align: center;
}

.servicios div{
	display: inline-block;
	border: 2px solid black;
	width: 25%;
	margin-left: 10px;
	margin-right: 10px;
	height: 500px;
	border-radius: 0.5em;
	box-shadow: 0px 0px 20px gray;
}

.servicios h2{
	text-align: center;
	font-size: 30px;
	color: black;
}

.servicios hr{
	text-align: center;
	border: 2px solid grey;
	width: 15%;
}

.servicios img{
	height: 300px;
	width: 300px;
	margin-top: 20px;
	border-radius: 0.2em;
}

.servicios span{
	color: white;
	border: 1px solid black;
	background-color: #464950;
	text-align: center;
	border-radius: 0.2em;
	padding-right: 5px;
	padding-left: 5px;
	font-size: 13px;
}

.servicios a{
	text-decoration: unset;
}


/* efectos hover de aca en adelante */

.nav a:hover{
	color: red;
	transition: color 2s ease;
	text-decoration: underline;
	letter-spacing: 3px;
}

.servicios span:hover{
	background-color: black;
}

.fotoGrande div.DivFG1 p.nuestrosServicios:hover{
	background-color: #CFAA55;
	transition: all 1.5s ease;
}

@keyframes titulo2{

	from{
		opacity: 0;
	}

	to{
		opacity: 1;
	}
}



