*{
	margin: 0;
	padding: 0;
}

div{
	background-image: url(../imagenes/encabe.webp);
	height: 30em;
	width: 100%;
	text-align: center;
	border-bottom: 2px solid black;
}

p{
	color: white;
	font-size: 1.5em;
	font-family: 'Cairo Play', cursive;
	padding-top: 12%;
	padding-right: 5%;
	padding-left: 5%;

}